*{
    margin: 0;
    box-sizing: border-box;
    color: #001121;
}
#death{
    height: 100%;
    width: 100%;
    background: red;
    position: absolute;
    display: none;
}
#death label{
    font-size: 200px;
    margin: 200px 250px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #6483a1;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 35px;
    padding: 20px;
    margin-top: 30px;
    background: #abd6ff;
}
.first-block{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
}
.screen{
    margin-top: 50px;
}
.stats{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #68aced;
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
}
.stats * {
    margin: 5px;
}
#image{
    height: 250px;
    width: 400px;
    margin-right: 50px;
}
.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.infos *{
    margin: 10px;
    font-size: 30px;
}
button{
    background: #68aced;
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s linear;
}
button:hover{
    background: #4585c0;
}
input{
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.centerDIV{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    
}
#chooseCharacter{
    justify-content: space-around;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    background: #4585c0;
    height: 100%;
    width: 100%;
}
.character{
    margin-top: 40px;
    background: #2b6397;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 230px;
}
.character *{
    margin: 5px;
}
#SMS{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    background: #4585c0;
    height: 600px;
    width: 900px;
}